[Unit]
Description=HS Torrent Downloader
Requires=network-online.target
After=network.target

[Service]
User = base
Group = adm
Type=simple
ExecStart=/usr/local/bin/hs_download_torrent
Restart=always

[Install]
WantedBy=hs_torrent_search.target
