[Unit]
Description=HS Searches in YTS data retriever
Requires=network-online.target
After=network.target

[Service]
User = base
Group = adm
Type=simple
ExecStart=/usr/local/bin/hs_yts_crawler
Restart=always

[Install]
WantedBy=hs_torrent_search.target
